.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 24px;
}

.main {
    padding: 16px;
}

.info {
    color: #e9bf99;
    font-family: 'Helvetica Neue';
    font-size: 24px
}